.div-barra-pesquisa{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-barra-pesquisa{
    width: 100%;
    max-width: 500px;
    padding: 12px 18px;
    border-radius: 25px;
    border: 1px solid #e0e0e0;
    outline: none;
    font-size: 16px;
    background-color: #ffffff;
    
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    
    transition: all 0.3s ease;
}

.input-barra-pesquisa::placeholder{
    color: #999;
}

.input-barra-pesquisa:hover{
    box-shadow: 0 4px 12px rgba(15, 64, 224, 0.08);
}

.input-barra-pesquisa:focus{
    border-color: #278cff;
    box-shadow: 0 4px 15px rgba(0, 17, 255, 0.2);
}